body {
    background-color: blueviolet;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    object-fit: cover;
    border-radius: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}


.image {
    width: 500px;
    height: 300px;
}


/* Navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #cb02f8;
    display: flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}